@media (max-width: 768px) {
    body {
        font-family: Arial, sans-serif;
        background-image: url('background.jpg');
        line-height: 1.6;
        background-size: cover;
        transition: transform 2s ease; 
    }
    
    .site-header {
        background-color: #ffffff;
        color: #fff;
        position: relative;
        padding: 10px 20px;
        border-radius: 15px;
        margin-top: 10px;
        z-index: 5;
    }
    
    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }
    
    .header-container h1{
        align-items: center;
        color: #007BFF; 
        justify-content: center;
        font-size: 16px;
    }
    .menu-button {
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }
    
    .menu-line {
        width: 35px;
        height: 5px;
        background-color: #007BFF;
        margin: 2px 0;
    }
    .navigation {
        display: none; 
        position: absolute;
        justify-content: center;
        align-items: center;
        background-color: #ffffff;
        width: 100%;
        z-index: 3;
        margin-top: 60px;
    
    }
    .links {
        display: flex; 
        position: relative;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .links h1 {
        margin-top: 50px;
        font-size: 20px;
    }
    
    .contact-info {
        display: flex;
        position: relative;
        color: #007BFF; 
        flex-direction: row;
        gap: 20px;
    }
    .navigation.active {
        display: block; 
    }
    .navigation ul {
        list-style: none;
    }
    
    .navigation ul li {
        text-align: left;
    }
    
    .navigation ul li a {
        color: #000000;
        text-decoration: none;
    }
    
    .close-button {
        font-size: 30px;
        color: #525557;
        cursor: pointer;
        position: absolute;
        top: 50px;
        right: 60px;
    }
    
    .main-content {
        display: flex; 
        justify-content: center; 
        align-items: flex-start; 
        margin: 50px auto; 
        margin-left: 50px;
        gap: 90px;
        flex: 1;
    }
    
    .text-container {
        margin-bottom: 20px;
        font-size: 14px;
    }
    
    h1 {
        margin: 0;
    }
    
    .black-text {
        color: black;
    }
    
    .blue-text {
        color: #007BFF; 
    }
    
    .form-container {
        display: flex;
        margin-top: 80px;
        flex-direction: column;
        background-color: white;
        padding: 20px;
        border-radius: 10px;
    }
    
    .form-text {
        text-align: left;
        font-size: 12px;
        margin-bottom: 20px;
    }
    
    .form-row {
        display: flex;
        align-items: right;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .form-field {
        flex: 1;
        margin-right: 10px;
        margin-bottom: 0.5px;
    }
    
    .form-field:last-child {
        margin-right: 0;
    }
    
    .form-field label {
        color: #888;
        margin-bottom: 5px;
        display: block;
    }
    
    .form-field input {
        padding: 10px;
        border: none; 
        border-bottom: 1px solid #ccc;
        border-radius: 0; 
        width: 100%; 
        box-sizing: border-box; 
        transition: border-bottom 0.3s; 
    }
    
    .form-field input:focus {
        outline: none; 
        border-bottom: 2px solid #007BFF; 
    }
    
    .button-container {
        margin-left: 10px; 
    }
    
    .form-container button {
        text-align: left;
        background-color: #007BFF; 
        color: white;
        padding: 10px 15px; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .form-container button:hover {
        background-color: #0056b3; 
    }
    
    .image-grid {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
    }
    
    .image-grid {
        display: flex;
        flex-direction: column; 
        align-items: center; 
    }
    
    .image-container {
        display: flex; 
        justify-content: center; 
        position: relative;
        z-index: 2;
    }
    .image-container2 {
        display: flex; 
        justify-content: center; 
        position: relative;
        z-index: 2;
        margin-right: -115px;
    }
    .image-container3 {
        display: flex; 
        justify-content: center; 
        position: relative;
        z-index: 2;
        margin-right: -230px;
    }
    .angled-image {
        transform: rotate(-10deg);
        border-radius: 15px;
        width: 150px; 
        height: 250px; 
        margin: 20px; 
        position: relative;
        top: -200px;
    }
    .angled2-image {
        transform: rotate(-10deg); 
        border-radius: 15px;
        width: 150px; 
        height: 250px; 
        margin-top: -40px;
        position: relative;
        top: -200px;
    }
    .footer {
        background-color: #333; 
        flex-direction: center;
        height: 150px;
        color: white; 
        text-align: center; 
        padding: 10px; 
        position: fixed; 
        bottom: 0; 
        width: 95%; 
        z-index: 100; 
        border-radius: 15px;
        margin-bottom: 10px;
        margin-left: 7px;
    }
    .footer-header {
        margin-bottom: 15px; 
    }
    .footer-header h2 {
        margin: 0; 
        font-size: 24px; 
    }
    .footer-content {
        display: flex; 
        margin-top: 20px;
        justify-content: space-between;
        align-items: center; 
        margin-right: 10px;
    }
    .contact-item {
        display: flex; 
        font-size: 12px;
        flex-direction: column; 
        align-items: center; 
        margin: 0 10px; 
    }
    .footer-footer {
        margin-top: 15px; 
    }
    
    .footer-footer p {
        font-size: 12px; 
    }
    .icon {
        color: #b1b0b0;
        margin-bottom: 5px;
    }
    
    .text-container2 {
        background-color: #fff;
        font-size: 14px;
        height: 900px;
    }
    .top-text {
        text-align: left;
        margin-left: 50px;
        margin-top: 200px;
    }
    .medium-text {
        display: flex;
        margin-left: 50px;
        justify-content: column;
        gap: 80px;
    }
    .right-text {
        font-size: 16px;
        position: relative;
    }
    .right-text p {
        position: relative;
        cursor: pointer;
        transition: color 0.3s;
        padding-bottom: 5px; 
    }
    
    .right-text p::after {
        content: '';
        display: block;
        height: 2px;
        background: rgb(0, 0, 0);
        transition: width 0.3s;
        width: 0;
        position: absolute;
        left: 0;
        bottom: 0; 
    }
    
    .right-text p:hover {
        color: black;
    }
    
    .right-text p:hover::after {
        width: 100%;
    }
    .page2 {
        display: flex;
        position: relative;
        margin-left: 50px;
    }
    .text-container3 {
        margin-bottom: 200px;
    }
    .industries {
        display: flex;
        position: relative;
        align-items: center;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    .column1, .column2{
        display: flex;
        position: relative;
        flex-direction: column;
        margin-right: 90px;
        font-size: 18px;
        align-items: flex-start;
        gap: 10px;
    }
    .projects{
        display: flex;
        position: relative;
        flex-direction: row;
        margin-right: 90px;
        font-size: 14px;
        align-items: flex-start;
        gap: 10px;
    }
    .projects p {
        position: relative;
        cursor: pointer;
        transition: color 0.3s;
        padding-bottom: 5px; 
    }
    
    .projects p::after {
        content: '';
        display: block;
        height: 2px;
        background: rgb(10, 17, 198);
        transition: width 0.3s;
        width: 0;
        position: absolute;
        left: 0;
        bottom: 0; 
    }
    
    .projects p:hover {
        color: black;
    }
    
    .projects p:hover::after {
        width: 100%;
    }
    .project-description {
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .right-section {
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .left-section {
        display: flex;
        position: relative;
        flex-direction: column;
    }
    
    .right-section button {
        align-items: right;
        background-color: #007BFF; 
        color: white;
        padding: 10px 15px; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 22px;
        width: 220px;
        margin-right: 90px;
    }
    .right-section button:hover {
        background-color: #0056b3; 
    }
    .project_icon {
        margin-right: 70px;
    }
    .industry_icon {
        color: #000000;
    }
    .statistics{
        display: flex;
        position: relative;
        flex-direction: row;
        justify-content:left;
        gap: 0px;
    }
    .active-users {
        margin-left: 50px;
    }
    .active-users p{
        color: #525557;
    }
    .users p{
        color: #525557;
    }
    .image-buttons {
        display: flex; 
        gap: 20px; 
    }
    
    .image-button {
        display: inline-block; 
        cursor: pointer; 
        border: 2px solid transparent; 
        border-radius: 5px; 
        transition: border-color 0.3s, transform 0.3s; 
        width: 280px;
        height: 80px;
    }
    
    .image-button img {
        display: block; 
        border-radius: 5px; 
        width: 100%;
        height: 100%;
    }
    
    .image-button:hover {
        border-color: #007BFF; 
        transform: scale(1.05); 
    }
    .text-image {
        display: flex;
        position: relative;
        flex-direction: row;
    }
    .phone-image {
        display: flex;
        position: relative;
        width: 100%;
        height: 100%;
    }
    .phone-image img{
        margin-right: 90px;
        width: 220px;
        height: 300px;
        margin-top: 30px;
    }
    .page3 {
        display: flex;
        position: relative;
        background-color: #007BFF;
        background-size: cover;
        flex-direction: column;
    }
    .page3 h2 {
        margin-left: 50px;
        color: #fff;
    }
    .page3 p {
        margin-left: 50px;
        color: #fff;
    }
    .project-form-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        width: 80%;
        border-radius: 10px;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .project-form-row {
        display: flex;
        align-items: right;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .form-field {
        flex: 1;
        margin-left: 10px;
        margin-bottom: 0.5px;
        margin-top: 20px;
    }
    
    .form-field label {
        color: #888;
        margin-bottom: 5px;
        display: block;
    }
    
    .form-field input {
        padding: 10px;
        border: none; 
        border-bottom: 1px solid #ccc;
        border-radius: 0; 
        width: 100%; 
        box-sizing: border-box; 
        transition: border-bottom 0.3s; 
    }
    
    .form-field input:focus {
        outline: none; 
        border-bottom: 2px solid #007BFF; 
    }
    
    .project-button-container, .book-button-container {
        display: flex;
        position: relative;
        justify-content: flex-end;
        margin-right: 10px; 
        margin-top: 30px;
        align-items: right;
        margin-bottom: 10px;
    }
    
    .project-form-container button, .book-form-container button{
        text-align: right;
        background-color: #007BFF; 
        color: white;
        padding: 10px 15px; 
        border: none;
        border-radius: 5px;
        cursor: pointer;
        gap: 10px;
    }
    
    .project-form-container button:hover {
        background-color: #0056b3; 
    }
    
    .page4 h2 {
        margin-left: 50px;
    }
    .stages-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        margin-left: 50px;
        margin-bottom: 30px;
    }
    .form-row {
        display: flex;
        align-items: right;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box; 
    }
    .stage {
        border-radius: 8px; 
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
        height: 150px;
    }
    .stage h3 {
        margin-left: 20px;
    }
    .stage p {
        margin-left: 20px;
    }
    .page5 {
        display: flex;
        position: relative;
        background-color: #cfd2d4;
        background-size: cover;
        flex-direction: column;
    }
    .page5 h2{
        margin-left: 50px;
    }
    .page5 p{
        margin-left: 50px;
    }
    .team-statistics{
        display: flex;
        position: relative;
        flex-direction: row;
        margin-left: 50px;
    }
    .team-statistics h1{
        font-size: 30px;
    }
    .members, .projects-num, .years {
        display: flex;
        position: relative;
        flex-direction: column;
        justify-content: left;
    }
    .page6 {
        display: flex;
        position: relative;
        background-color: #007BFF;
        background-size: cover;
        flex-direction: column;
    }
    .page6 h3 {
        color: #fff;
        margin-left: 50px;
    }
    .book-form-container {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 10px;
        margin-left: 50px;
        margin-bottom: 30px;
        width: 50%;
    }
    .book-form-row {
        display: flex;
        align-items: right;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .page6-items {
        display: flex;
        flex-direction: row;
    }
    .book {
        width: 230px;
        margin-left: 50px;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 20px;
    }
    
    .faq-container {
        max-width: 600px;
        margin: auto;
    }
    
    .faq-item {
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-bottom: 10px;
        overflow: hidden;
    }
    
    .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        background-color: #f9f9f9;
        cursor: pointer;
    }
    
    .faq-toggle, .faq-close {
        font-size: 20px;
        margin-left: 10px;
    }
    
    .faq-answer {
        display: none;
        padding: 15px;
        background-color: #fff;
        border-top: 1px solid #ccc;
    }
    .faq-container {
        margin-bottom: 200px;
    }
    .faq-answer {
        display: flex;
        position: relative;
        flex-direction: row;
    }
    
}
